@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');



h1{
    text-align: center;
    color: rgb(254, 254, 254);
    background-color: brown;
}

#post_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: rgb(239, 239, 239);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    
}


.post{
    padding: 15px;
    background-color: rgb(52, 60, 82);
    border: 5px solid rgb(253, 255, 116);
    border-radius: 10px;
    
}

.post-id{
    text-align: center;
    color: rgb(253, 129, 129);
}


@media only screen and (max-width:500px) {
    /* For mobile phones: */
    h1 .main_div, #post_container, .post, .post-id {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);

    }
}